body {
    background-color: rgb(217, 237, 243);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

section {
    margin: 2rem;
}

.alert {
    color: red;
}