<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
          <li>
            <a href="/artists">View Artists</a>
          </li>
          <li>
            <a href="/records">View Records</a>
          </li>
          <li>
            <a href="/add">Add Item</a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    <section id="content">
        {% block content %}
  
        {% endblock%}
    </section>
</body>
</html>